@import "../../../styles/variables";
@import "../../../styles/_mixins";

.loginform {
	width: remHandler(429);
	@include formouter;
	padding: remHandler(25);
	position: relative;

	&__lock {
		width: remHandler(75);
		height: remHandler(92);
		position: absolute;
		top: remHandler(-60);
		left: remHandler(-49);
	}

	&__header {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: remHandler(40);

		button {
			min-width: remHandler(151);
			padding: 0 remHandler(23) remHandler(8);
			background-color: transparent;
			color: $grey2;
			letter-spacing: 0.02em;
			font-size: remHandler(16);
			border: none;
			border-bottom: remHandler(2) solid;
			pointer-events: none;

			&.active {
				color: $green;
			}
		}
	}

	&__item {
		margin-bottom: remHandler(30) !important;

		:global(.ant-form-item-label) {
			padding: 0 !important;
		}

		:global(.ant-form-item-label > label) {
			height: auto;
			color: $grey;
			font-size: remHandler(16);
			line-height: 1;
			letter-spacing: 0.03em;
			margin-bottom: remHandler(20) !important;
		}

		:global(.ant-input) {
			width: 100%;
			height: remHandler(43);
			@include inputouter;
			font-size: remHandler(16);
			letter-spacing: 0.03em;
			padding: 0 remHandler(19) !important;
		}

		:global {
			.ant-input-password {
				@include inputouter;
				height: remHandler(43);

				.ant-input {
					height: 100%;
					font-size: remHandler(16);
				}
			}
		}
	}


	&__footer {
		width: 100%;
		text-align: center;

		& button {
			margin-top: 0;
		}
	}

	&__restorepass {
		display: inline-block;
		color: $blue;
		font-size: remHandler(14);
		line-height: 1;
		letter-spacing: 0.02em;
		pointer-events: none;
		margin-top: remHandler(15);
		margin-bottom: remHandler(30);
		border-bottom: remHandler(1) solid;
	}

	&__links {
		width: 100%;
		text-align: left;

		& span {
			display: block;
			color: $grey;
			font-size: remHandler(16);
			margin-bottom: remHandler(15);
		}

		& img {
			width: remHandler(96);
			height: remHandler(31);
			object-fit: contain;
			display: inline-block;
			margin-right: remHandler(10);

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__error {
		margin-bottom: remHandler(30);
	}

	@media screen and (max-width: 480px) {
		width: 100%;
		padding: remHandler(25) remHandler(18);

		&__lock {
			width: remHandler(72);
			height: remHandler(92);
			left: remHandler(81);
			top: remHandler(-79);
		}

		&__header {
			button {
				min-width: remHandler(103);
				padding: 0 remHandler(18) remHandler(10);
				font-size: remHandler(14);

				&.active {
					color: $green;
				}
			}
		}

		&__links {
			& img {
				width: remHandler(93);
				margin-right: remHandler(8);
			}
		}
	}
}