@import "../../styles/variables";
@import "../../styles/_mixins";

.sliderouter {
	width: 100%;
	position: relative;
	margin-bottom: remHandler(70);

	& .swiper_custom_button_prev,
	& .swiper_custom_button_next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: remHandler(39);
		height: remHandler(39);
		z-index: 14;
		cursor: pointer;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	& .swiper_custom_button_prev {
		left: remHandler(-20);
	}

	& .swiper_custom_button_next {
		right: remHandler(-20);
	}

	:global {
		.swiper-button-disabled {
			opacity: 0.4;
		}
	}
}

.slider {
	width: 100%;
	padding: remHandler(20) remHandler(30);

	&__slide {
		width: remHandler(400);
		height: remHandler(225);
		padding: remHandler(30) remHandler(20) remHandler(30) remHandler(20);
		box-shadow: 0 0 remHandler(20) rgba(0, 0, 0, 0.2);
		border-radius: remHandler(10);

		& img {
			width: remHandler(64);
			height: remHandler(64);
			object-fit: contain;
			display: block;
			margin-bottom: remHandler(19);
		}

		& p {
			margin: 0;
			font-size: remHandler(18);
		}
	}

	// :global(.swiper-wrapper) {
	// 	overflow: visible;
	// }
}

@media screen and (max-width: 1200px) {
	.sliderouter {
		& .swiper_custom_button_prev {
			left: remHandler(-30);
		}

		& .swiper_custom_button_next {
			right: remHandler(-30);
		}
	}

	.slider {
		padding: 20px 10px;

		&__slide {
			height: auto;
			padding-right: remHandler(20);

			& br {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 480px) {

	.slider {
		padding: 20px 10px;

		&__slide {
			padding-right: remHandler(20);

			& br {
				display: none;
			}
		}
	}
}