@import "../../styles/variables";
@import "../../styles/_mixins";

.tariffs {
	width: 100%;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: remHandler(36);

	&__title {
		width: 100%;
		@include title;
		margin-top: 0;
		margin-bottom: remHandler(40);
	}

	@media screen and (max-width: 480px) {
		&__title {
			margin-bottom: remHandler(37);
		}
	}
}

.tariff {
	width: remHandler(415);
	height: remHandler(540);
	background-color: $white;
	overflow: hidden;
	box-shadow: 0 0 remHandler(20) rgba(0, 0, 0, 0.2);
	border-radius: remHandler(10);

	&__header {
		width: 100%;
		height: remHandler(132);
		padding: remHandler(30);
		position: relative;

		& img {
			object-fit: contain;
			position: absolute;
			z-index: 1;
		}

		& span {
			font-size: remHandler(30);
			font-family: $i-m;
		}

		& p {
			margin: remHandler(10) 0 0;
			font-size: remHandler(18);
		}
	}

	&__content {
		width: 100%;
		position: relative;
		padding: remHandler(33) remHandler(30) remHandler(24);
	}

	&__current {
		display: flex;
		align-items: center;
		justify-content: center;
		width: max-content;
		height: remHandler(24);
		background-color: $blue2;
		color: $white;
		font-size: remHandler(14);
		padding: 0 remHandler(13);
		border-radius: remHandler(10);
	}

	&__current {
		position: absolute;
		top: remHandler(12);
		right: remHandler(10);
	}

	&__price {
		width: 100%;
		height: remHandler(65);
		overflow: hidden;

		& span {
			font-size: remHandler(30);
			font-family: $i-m;
			margin-right: remHandler(19);
		}

		& s {
			font-family: $i-m;
			font-size: remHandler(25);
			color: $grey;
		}

		& p {
			margin: remHandler(10) 0 0 0;
			font-size: remHandler(17);
		}
	}

	&__info {
		width: 100%;
		margin: remHandler(59) 0 remHandler(55);

		& b {
			display: block;
			font-weight: normal;
			font-size: remHandler(20);
			font-family: $i-m;
			margin-bottom: remHandler(10);
		}

		& ul {
			margin: 0;
			padding: 0;

			& li {
				list-style: none;
				display: flex;
				align-items: center;
				font-size: remHandler(18);
				margin-bottom: remHandler(5);

				& img {
					width: remHandler(20);
					height: remHandler(20);
					object-fit: contain;
					margin-right: remHandler(8);
				}
			}
		}
	}

	&_begginer {
		& .tariff {
			&__header {
				background-color: $orange;

				& img {
					width: remHandler(92);
					height: remHandler(83);
					top: remHandler(11);
					right: remHandler(15);
				}
			}
		}

		&.active {
			border: remHandler(2) solid $orange;
		}
	}

	&_pro {
		& .tariff {
			&__header {
				background-color: $green_light;

				& img {
					width: remHandler(120);
					height: remHandler(127);
					top: remHandler(-5);
					right: remHandler(5);
				}
			}
		}

		&.active {
			border: remHandler(2) solid $green_light;
		}
	}

	&_business {
		& .tariff {
			&__header {
				color: $white;
				background-color: $black;

				& img {
					width: remHandler(93);
					height: remHandler(103);
					top: remHandler(3);
					right: remHandler(5);
				}
			}
		}

		&.active {
			border: remHandler(2) solid $black;
		}
	}

	@media screen and (max-width: 1080px) {
		margin: 0;
	}

	@media screen and (max-width: 820px) {
		width: 80%;
		height: auto;
		margin: 0 auto;
	}

	@media screen and (max-width: 480px) {
		width: 100%;

		&__header {
			& span {
				font-size: remHandler(30);
			}

			& p {
				margin-top: remHandler(15);
			}
		}

		&__content {
			padding: remHandler(20) remHandler(24) remHandler(24) remHandler(24);
		}

		&__current {
			position: static;
			margin: 0 0 remHandler(10) 0;
		}

		&__price {
			height: auto;
		}

		&__info {
			margin: remHandler(36) 0;

			& b {
				font-size: remHandler(18);
			}

			& ul li {
				font-size: remHandler(16);
			}
		}
	}



	&_begginer {
		& .tariff {
			&__header {
				& img {
					width: remHandler(59);
					height: remHandler(53);
					top: remHandler(11);
					right: remHandler(15);
				}
			}
		}
	}

	&_pro {
		& .tariff {
			&__header {
				& img {
					width: remHandler(90);
					height: remHandler(90);
					top: remHandler(5);
					right: remHandler(6);
				}
			}
		}
	}

	&_business {
		& .tariff {
			&__header {
				& img {
					width: remHandler(73);
					height: remHandler(60);
					top: remHandler(15);
					right: remHandler(10);
				}
			}
		}
	}
}